body {
    font-family: Arial, sans-serif;
    background-color: rgb(10,50,67);
    display: flex;
    flex-direction: column;
    align-items: center;
    top:50vh;
}

.botones_idiomas button
{
    width:12vw;
    height:4vh;
    font-size: 1.5vh;
    border-radius: 10px;
    background-color:rgb(10,50,67);
    color:rgb(239,239,239);;
    transition:0.5s;
    right: 0vw;
}

.botones_idiomas
{
    display: flex;
    flex-direction: row;
    right: 0;
    top:0;
    position: absolute;
    z-index: 1000;
}

h2{
    text-align: center;
    grid-column: auto;
    grid-row: 1/2;
}
.class_form_register
{
    grid-column: auto;
    grid-row: 2/9;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows:5% 15% 5% 5% 15% 5% 10% 20%;
    
}


.container{
    width: 40vw;
    height: 50vh;
    color: rgb(10,50,67);
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top:30vh;
    border: 3px solid rgb(10,50,67);
    overflow:auto;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8,auto);
}

label{
    display: block;
    width: 100%;
    text-align: center;
    background-color: white;
    
}

.email_label
{
    grid-column: auto;
    grid-row: 1/2;
    font-size: 2.2vh;
}

.email
{
    grid-column: auto;
    grid-row: 2/3;
    margin-top:10px;
    font-size: 2.2vh;
}

.contrasena_label
{
    grid-column: auto;
    grid-row: 4/5;
    font-size: 2.2vh;
}

.contrasena
{
    grid-column: auto;
    grid-row: 5/6;
    margin-top:10px;
    font-size: 2.2vh;
}

.cajas_texto{
    display: block;
    width: 80%;
    text-align: center;
    background-color: white;
    margin-left: 10%;
    /*margin-right: 10%;*/
    border: 2px solid rgb(10,50,67);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    font-size: 2.2vh;
}

/*input[type="submit"]
{
    background-color: rgb(10,50,67);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    width: 60%;
    text-align: center;
    left:20%;
    right: 20%;
    top:10%;
}*/

.submit_boton
{
    background-color: rgb(10,50,67);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    width: 60%;
    text-align: center;
    left:20%;
    right: 20%;
    top:10%;
    grid-column: auto;
    grid-row: 8/9;
    margin-top:20px;
}

.encabezado
{
    color:white;
    font-family:'Times New Roman', Times, serif ;
    font-size: 2vw;
    display: block;
    font-weight: 400;
    text-align: center;
}
.boton-cabecera{
    color:black;
    display:block;
    position:absolute;
    left:0;
    z-index: 11;
    animation-name: animacion-encabezado;
    animation-duration:1.5s;
    animation-fill-mode: forwards;
    background-color:rgb(10,49,67);
    height:6vh;
    width:5vw;
}

.boton-cabecera:hover{
    border-color: white;
    transition:0.5s;
}
.material-symbols-outlined{
color:white;
background-color:rgb(10,49,67);
}

.material-symbols-outlined:hover{
    border-color: white;
    cursor: pointer;
}
.submit_boton:hover
{
    opacity:0.9;
    transition:0.5s;
    grid-column: auto;
    grid-row: 8/9;
}
.enlace_contrasena
{
    display:block;
    width:100%;
    height:2%;
    text-align:center;
    grid-column: auto;
    grid-row: 6/7;
    font-size: 2.2vh;
    margin-top:20px
}


    

@media only screen and (max-width: 768px) and (orientation: portrait) {
    body {
        font-family: Arial, sans-serif;
        background-color: rgb(10,50,67);
        display: flex;
        flex-direction: column;
        align-items: center;
        top:50vh;
    }

    h2{
        text-align: center;
        grid-column: auto;
        grid-row: 1/2;
        font-size: 3.2vh;
    }
    .class_form_register
    {
        grid-column: auto;
        grid-row: 2/9;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows:5% 15% 5% 5% 15% 5% 10% 20%;
        
    }


    .container{
        width: 70vw;
        height: 55vh;
        color: rgb(10,50,67);
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        position: absolute;
        top:25vh;
        border: 3px solid rgb(10,50,67);
        overflow:auto;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(8,auto);
    }

    label{
        display: block;
        width: 100%;
        text-align: center;
        background-color: white;
        
    }

    .email_label
    {
        grid-column: auto;
        grid-row: 1/2;
    }

    .email
    {
        grid-column: auto;
        grid-row: 2/3;
        margin-top:10px
    }

    .contrasena_label
    {
        grid-column: auto;
        grid-row: 4/5;
    }

    .contrasena
    {
        grid-column: auto;
        grid-row: 5/6;
        margin-top:10px
    }

    .cajas_texto{
        display: block;
        width: 80%;
        text-align: center;
        background-color: white;
        margin-left: 10%;
        /*margin-right: 10%;*/
        border: 2px solid rgb(10,50,67);
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
    }

    /*input[type="submit"]
    {
        background-color: rgb(10,50,67);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        width: 60%;
        text-align: center;
        left:20%;
        right: 20%;
        top:10%;
    }*/

    .submit_boton
    {
        background-color: rgb(10,50,67);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        width: 60%;
        text-align: center;
        left:20%;
        right: 20%;
        top:10%;
        grid-column: auto;
        grid-row: 8/9;
        margin-top:20px;
    }

    .encabezado
    {
        color:white;
        font-family:'Times New Roman', Times, serif ;
        font-size: 2.0vh;
        display: block;
        font-weight: 400;
        text-align: center;
    }
    .boton-cabecera{
        color:black;
        display:block;
        position:absolute;
        left:0;
        z-index: 11;
        animation-name: animacion-encabezado;
        animation-duration:1.5s;
        animation-fill-mode: forwards;
        background-color:rgb(10,49,67);
        height:6vh;
        width:10vw;
    }

    .boton-cabecera:hover{
        border-color: white;
        transition:0.5s;
    }
    .material-symbols-outlined{
    color:white;
    background-color:rgb(10,49,67);
    }

    .material-symbols-outlined:hover{
        border-color: white;
        cursor: pointer;
    }
    .submit_boton:hover
    {
        opacity:0.9;
        transition:0.5s;
        grid-column: auto;
        grid-row: 8/9;
    }
    .enlace_contrasena
    {
        display:block;
        width:100%;
        height:2%;
        text-align:center;
        grid-column: auto;
        grid-row: 6/7;
        font-size: auto;
        margin-top:20px
    }
    .botones_idiomas button
    {
        width: 30vw;
        height: 5vh;
        font-size: 1.5vh;
        border-radius: 10px;
        background-color: rgb(10,50,67);
        color:rgb(239,239,239);
        transition: 0.5s;
        position: relative;
        top:7vh;
        right: 20vw;
        top:85vh;
    }
}